.classpath
.project
.settings
classes/
build/
nbactions.xml
nb-configuration.xml
*.iml
.idea/
!.idea/copyright
!.idea/codeStyles
.DS_Store
example-client/*.pem
example-client/*.jks
*.tmp
.gradle/
out/
