<!--
  ~ Copyright (C) 2011-2017 ARM Limited. All rights reserved.
  -->

<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} %.-1level %m %n</pattern>
        </encoder>
    </appender>

    <root level="TRACE">
        <appender-ref ref="STDOUT"/>
    </root>
    <logger name="org.opencoap.ssl.MbedtlsApi" level="info"/>

</configuration>