name: publish

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Publish with Gradle
        uses: gradle/gradle-build-action@v2
        with:
          arguments: versionFromGit publish -i
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
